@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Car Rentals</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Car Rentals</h2>
        <p>
            Car Rentals is a Rental Brand which
            allows you to borrow the most wanted 
            cars ever made.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Find the car you have been waiting for.</h2>
        <p>You can find the car you really have been wanting to get it only takes a few clicks.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Rent today return later</h2>
        <p>You can rent one of our cars today in a few clicks or head out to one of our wide stores.</p>
        
    </div>
</div>
